# Perkins V - Calculating Performance Indicators by CIP

In [1]:
# Author: Matthew Fikes
# Modified: 3/11/22
import pandas as pd

### This code will calculate the Perkins 2P1 and 3P1 performance indicators.

#### If your file is not named CTEA.xlsx the code will prompt you to enter the filename. This assumes values in CTEA file are numeric and not descriptions (e.g. non-completion status codes are 4 and 6). This was designed only for the CTEA-1 but can be modified.

In [2]:
file = 'UTICA_AB.xlsx'

try:
    data = pd.read_excel(file)
    print('File {0} loaded successfully'.format(file))
except:
    file = input('CTEA.xlsx not found. Please enter the full filename: ')
    try:
        data = pd.read_excel(file)
        print('File {0} loaded successfully'.format(file))
    except:
        print('No file found')
        exit

File UTICA_AB.xlsx loaded successfully

## Static Variables
These can be modified to suit your individual file. Targets for 1P1, 2P1, and 3P1 ar also included so they can be easily changed.

In [3]:
target_1 = .4975
target_2 = .2075
target_3 = .1675

In [4]:
# fields to use for calculations from merged CTEA 1A/B - can be renamed if your fields are different
cip_field = 'CTEA 1A / CIP Code / DYN||8774_DYN'
status_field = 'CTEA 1A / YRENDSTAT_ID / DYN||8765_DYN'
credit_field = 'CTEA 1A / Credits Earned / DYN||8763_DYN'
emp_field = 'CTEA 1B / EMPSTAT_ID / DYN||8785_DYN'
educ_field = 'CTEA 1B / EDUCSTAT_ID / DYN||8784_DYN'
id_field = 'CTEA 1A / Student ID / DYN||8761_DYN'
gender_field = 'CTEA 1A / Gender / DYN||8770_DYN'

In [5]:
# special population fields
disab_field = 'CTEA 1A / Disabled / DYN||8766_DYN'
displ_field = 'CTEA 1A / DISPLACED_HM / DYN||8776_DYN'
econdis_field = 'CTEA 1A / Economic Disadvantage / DYN||8777_DYN'
homels_field = 'CTEA 1A / Homeless / DYN||8769_DYN'
lim_eng_field = 'CTEA 1A / Limited English / DYN||8780_DYN'
migr_field = 'CTEA 1A / Migrant / DYN||8772_DYN'
sparnt_field = 'CTEA 1A / Single Parent / DYN||8775_DYN'
youth_ao_field = 'CTEA 1A / Youth Aged Out / DYN||8779_DYN'
youth_af_field = 'CTEA 1A / Youth Armed Forces / DYN||8762_DYN'
spop_fields = [disab_field,displ_field,econdis_field,homels_field,lim_eng_field,migr_field,sparnt_field,youth_ao_field,youth_af_field]

### Get Non-traditional Crosswalk

In [6]:
xwalk_url = 'https://s3.amazonaws.com/PCRN/docs/REVISED_FINAL-2020-Nontraditional-Crosswalk-6-9-2021.xlsx'
try:
    print('Downloading Non-traditional crosswalk from ',xwalk_url)
    nontrad_xwalk = pd.read_excel(xwalk_url)
    print('Loaded successfully')
except:
    print('Unable to connect to ',xwalk_url)

Downloading Non-traditional crosswalk from  https://s3.amazonaws.com/PCRN/docs/REVISED_FINAL-2020-Nontraditional-Crosswalk-6-9-2021.xlsx
Loaded successfully

### Join CTEA to crosswalk and separate completers

In [7]:
# merge crosswalk with loaded CTEA file, joined by CIP
new_data = nontrad_xwalk[['CIP 6 2020','Female','Male']].merge(data,left_on='CIP 6 2020',right_on=cip_field,how='right')

In [8]:
# splits completers based on status codes 4 and 6 and total credits >=12
completer_set = new_data[(new_data[status_field].isin([4,6])) | (new_data[credit_field]>=12)] #make numerator data

In [27]:
# uncomment to make dataframe of noncompleters
#non_completers = pd.merge(new_data,completer_set,how='outer',on=id_field,indicator=True)
#noncomp_df = non_completers.loc[non_completers._merge == 'left_only']

# 1P1 Performance Indicator

In [28]:
num_1p1 = completer_set[(completer_set[status_field].isin([4,6])) & 
                        ((completer_set[emp_field].isin([1,2,3,7,8,9]))|
                          (completer_set[educ_field]==1))]
den_1p1 = completer_set[(completer_set[status_field].isin([4,6]))]

In [116]:
# Calculate performance for each special population by CIP, return values below target
rows_1p1 = []
for i in spop_fields:

    lim_num = pd.DataFrame(num_1p1[(num_1p1[i]==1)])
    lim_den = pd.DataFrame(den_1p1[(den_1p1[i]==1)])

    num = pd.DataFrame(lim_num).filter([cip_field,i]).groupby(cip_field).count()
    dem = pd.DataFrame(lim_den).filter([cip_field,i]).groupby(cip_field).count()
    pct = num.divide(dem)
    underperf = pct[(pct.values<=target_1)]
    
    rows_1p1.append(underperf.reset_index())
    
spop_1p1 = pd.concat(rows_1p1).dropna(axis=1,how='all').groupby('CTEA 1A / CIP Code / DYN||8774_DYN').max().reset_index()

In [197]:
for items in rows_1p1:
    try:
        print(items.columns[1].split(' / ')[1])
        for v in items.values:
            cip = v[0]
            meas = v[1]
            print('{0:.4f}---{1:.2f}%'.format(cip,meas*100))

    except:
        print('NA')

Disabled
50.0102---40.00%
50.0410---33.33%
52.0201---33.33%
DISPLACED_HM
51.3801---33.33%
Economic Disadvantage
15.0805---25.00%
43.0103---37.50%
43.0107---35.71%
48.0508---33.33%
50.0102---20.00%
50.0410---20.00%
51.3801---48.65%
52.0401---28.57%
Homeless
Limited English
52.0302---25.00%
Migrant
Single Parent
51.3801---25.00%
52.0201---42.86%
Youth Aged Out
Youth Armed Forces

In [137]:
num_grp_1 = num_1p1.groupby(cip_field)[id_field].count()
den_grp_1 = den_1p1.groupby(cip_field)[id_field].count()
percents_1p1 = num_grp_1.divide(den_grp_1,fill_value=0)

## MOST RECENT PERFORMANCE DATA BY PROGRAM

In [32]:
pd.DataFrame(percents_1p1).reset_index().set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

                                    CTEA 1A / Student ID / DYN||8761_DYN
CTEA 1A / CIP Code / DYN||8774_DYN
11.0201                                                         0.333333
11.0401                                                         0.800000
11.0701                                                         0.666667
11.1003                                                         0.750000
15.0201                                                         0.888889
15.0303                                                         0.666667
15.0407                                                         0.000000
15.0801                                                         1.000000
15.0805                                                         0.333333
15.1302                                                         0.500000
31.0101                                                         0.625000
43.0103                                                         0.366667
43.0107                                                         0.312500
43.0114                                                         0.500000
43.0204                                                         0.700000
44.0000                                                         0.705882
45.0702                                                         1.000000
47.0101                                                         0.555556
47.0201                                                         0.000000
48.0508                                                         0.369565
48.0510                                                         0.500000
50.0102                                                         0.230769
50.0406                                                         0.500000
50.0409                                                         0.600000
50.0410                                                         0.210526
51.0000                                                         0.333333
51.0707                                                         0.555556
51.0907                                                         0.625000
51.0908                                                         0.166667
51.1501                                                         0.722222
51.3801                                                         0.437500
52.0201                                                         0.605505
52.0205                                                         0.692308
52.0302                                                         0.454545
52.0401                                                         0.400000
52.0801                                                         0.800000

## PROGRAMS NOT MEETING TARGET

In [33]:

p_unmet_1p1 = pd.DataFrame(percents_1p1[(percents_1p1.values<=target_1)]).reset_index().set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

In [34]:
p_unmet_1p1

                                    CTEA 1A / Student ID / DYN||8761_DYN
CTEA 1A / CIP Code / DYN||8774_DYN
11.0201                                                         0.333333
15.0407                                                         0.000000
15.0805                                                         0.333333
43.0103                                                         0.366667
43.0107                                                         0.312500
47.0201                                                         0.000000
48.0508                                                         0.369565
50.0102                                                         0.230769
50.0410                                                         0.210526
51.0000                                                         0.333333
51.0908                                                         0.166667
51.3801                                                         0.437500
52.0302                                                         0.454545
52.0401                                                         0.400000

## SPECIAL POPULATIONS NOT MEETING TARGET WITHIN PROGRAMS

In [198]:
# Special Pops falling below 1P1 target, by CIP
unmet_spop_1p1 = spop_1p1.set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

In [199]:
for items in rows_1p1:
    try:
        print(items.columns[1].split(' / ')[1])
        for v in items.values:
            cip = v[0]
            meas = v[1]
            print('{0:.4f}---{1:.2f}%'.format(cip,meas*100))

    except:
        print('NA')

Disabled
50.0102---40.00%
50.0410---33.33%
52.0201---33.33%
DISPLACED_HM
51.3801---33.33%
Economic Disadvantage
15.0805---25.00%
43.0103---37.50%
43.0107---35.71%
48.0508---33.33%
50.0102---20.00%
50.0410---20.00%
51.3801---48.65%
52.0401---28.57%
Homeless
Limited English
52.0302---25.00%
Migrant
Single Parent
51.3801---25.00%
52.0201---42.86%
Youth Aged Out
Youth Armed Forces

# 2P1 Performance Indicator

In [36]:

num_2p1 = completer_set[(completer_set[status_field].isin([4,6]))]
den_2p1 = completer_set[(completer_set[status_field].isin([4,5,6]))]

In [37]:
num_grp_2 = num_2p1.groupby(cip_field)[id_field].count()

den_grp_2 = den_2p1.groupby(cip_field)[id_field].count()

In [38]:
# Calculate performance for each special population by CIP, return values below target
rows_2p1 = []
for i in spop_fields:

    lim_num = pd.DataFrame(num_2p1[(num_2p1[i]==1)])
    lim_den = pd.DataFrame(den_2p1[(den_2p1[i]==1)])

    num = pd.DataFrame(lim_num).filter([cip_field,i]).groupby(cip_field).count()
    dem = pd.DataFrame(lim_den).filter([cip_field,i]).groupby(cip_field).count()
    pct = num.divide(dem)
    underperf = pct[(pct.values<=target_2)]
    
    rows_2p1.append(underperf.reset_index())
    
spop_2p1 = pd.concat(rows_2p1).dropna(axis=1,how='all').groupby('CTEA 1A / CIP Code / DYN||8774_DYN').max().reset_index()

In [39]:
spop_2p1

,CTEA 1A / CIP Code / DYN||8774_DYN,CTEA 1A / Disabled / DYN||8766_DYN,CTEA 1A / Economic Disadvantage / DYN||8777_DYN,CTEA 1A / Single Parent / DYN||8775_DYN
0,43.0103,NaN,NaN,0.2
1,51.0000,0.2,0.08,NaN

In [40]:
percents_2p1 = num_grp_2.divide(den_grp_2,fill_value=0)

## MOST RECENT PERFORMANCE DATA BY PROGRAM

In [41]:
pd.DataFrame(percents_2p1).reset_index().set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

                                    CTEA 1A / Student ID / DYN||8761_DYN
CTEA 1A / CIP Code / DYN||8774_DYN
11.0201                                                         0.666667
11.0401                                                         0.454545
11.0701                                                         0.545455
11.1003                                                         0.727273
15.0201                                                         0.900000
15.0303                                                         0.461538
15.0407                                                         0.666667
15.0616                                                         0.000000
15.0801                                                         0.800000
15.0805                                                         0.461538
15.1302                                                         1.000000
31.0101                                                         0.888889
43.0103                                                         0.566038
43.0107                                                         0.800000
43.0114                                                         1.000000
43.0204                                                         0.416667
44.0000                                                         0.666667
45.0702                                                         1.000000
47.0101                                                         0.782609
47.0201                                                         0.700000
48.0508                                                         0.901961
48.0510                                                         0.909091
50.0102                                                         0.684211
50.0406                                                         0.769231
50.0409                                                         0.535714
50.0410                                                         0.612903
51.0000                                                         0.103448
51.0707                                                         0.500000
51.0907                                                         1.000000
51.0908                                                         0.800000
51.1501                                                         0.750000
51.3801                                                         0.872727
52.0201                                                         0.731544
52.0205                                                         0.866667
52.0302                                                         0.628571
52.0401                                                         0.769231
52.0703                                                         0.000000
52.0801                                                         0.909091

## PROGRAMS NOT MEETING TARGET

In [42]:

p_unmet_2p1 = pd.DataFrame(percents_2p1[(percents_2p1.values<=target_2)]).reset_index().set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

In [43]:
p_unmet_2p1

                                    CTEA 1A / Student ID / DYN||8761_DYN
CTEA 1A / CIP Code / DYN||8774_DYN
15.0616                                                         0.000000
51.0000                                                         0.103448
52.0703                                                         0.000000

## SPECIAL POPULATIONS NOT MEETING TARGET WITHIN PROGRAMS

In [200]:
# Special Pops falling below 1P1 target, by CIP
unmet_spop_2p1 = spop_2p1.set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

In [201]:
for items in rows_2p1:
    try:
        print(items.columns[1].split(' / ')[1])
        for v in items.values:
            cip = v[0]
            meas = v[1]
            print('{0:.4f}---{1:.2f}%'.format(cip,meas*100))

    except:
        print('NA')

Disabled
51.0000---20.00%
DISPLACED_HM
Economic Disadvantage
51.0000---8.00%
Homeless
Limited English
Migrant
Single Parent
43.0103---20.00%
Youth Aged Out
Youth Armed Forces

# 3P1 Performance Indicator

In [45]:
num_3p1 = completer_set[((completer_set['Female']=='Y') & (completer_set[gender_field]==2))|((completer_set['Male']=='Y') & (completer_set[gender_field]==1))]
num_grp_3 = num_3p1.groupby(cip_field)[id_field].count()

den_3p1 = completer_set[(completer_set['Female']=='Y') | (completer_set['Male']=='Y')]
den_grp_3 = den_3p1.groupby(cip_field)[id_field].count()

percents_3p1 = num_grp_3.divide(den_grp_3,fill_value=0)

In [46]:
# Calculate performance for each special population by CIP, return values below target
rows_3p1 = []
for i in spop_fields:

    lim_num = pd.DataFrame(num_3p1[(num_3p1[i]==1)])
    lim_den = pd.DataFrame(den_3p1[(den_3p1[i]==1)])

    num = pd.DataFrame(lim_num).filter([cip_field,i]).groupby(cip_field).count()
    dem = pd.DataFrame(lim_den).filter([cip_field,i]).groupby(cip_field).count()
    pct = num.divide(dem)
    underperf = pct[(pct.values<=target_3)]
    
    rows_3p1.append(underperf.reset_index())
    
spop_3p1 = pd.concat(rows_3p1).dropna(axis=1,how='all').groupby('CTEA 1A / CIP Code / DYN||8774_DYN').max().reset_index()

## MOST RECENT PERFORMANCE DATA BY PROGRAM

In [47]:
pd.DataFrame(percents_3p1).reset_index().set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

                                    CTEA 1A / Student ID / DYN||8761_DYN
CTEA 1A / CIP Code / DYN||8774_DYN
11.0201                                                         0.131579
11.0401                                                         0.285714
11.0701                                                         0.434783
11.1003                                                         0.226415
13.1314                                                         0.000000
15.0201                                                         0.033333
15.0303                                                         0.148148
15.0407                                                         0.000000
15.0616                                                         0.000000
15.0801                                                         0.000000
15.0805                                                         0.057143
15.1302                                                         0.100000
43.0103                                                         0.429752
43.0107                                                         0.285714
43.0114                                                         0.500000
45.0702                                                         0.000000
47.0101                                                         0.066667
47.0201                                                         0.023810
48.0508                                                         0.215909
48.0510                                                         0.185185
51.0707                                                         0.022222
51.1501                                                         0.367347
51.3801                                                         0.163793
52.0201                                                         0.493631
52.0205                                                         0.108696
52.0302                                                         0.343750

## PROGRAMS NOT MEETING TARGET

In [48]:

p_unmet_3p1 = pd.DataFrame(percents_3p1[(percents_3p1.values<=target_3)]).reset_index().set_index('CTEA 1A / CIP Code / DYN||8774_DYN')
p_unmet_3p1

                                    CTEA 1A / Student ID / DYN||8761_DYN
CTEA 1A / CIP Code / DYN||8774_DYN
11.0201                                                         0.131579
13.1314                                                         0.000000
15.0201                                                         0.033333
15.0303                                                         0.148148
15.0407                                                         0.000000
15.0616                                                         0.000000
15.0801                                                         0.000000
15.0805                                                         0.057143
15.1302                                                         0.100000
45.0702                                                         0.000000
47.0101                                                         0.066667
47.0201                                                         0.023810
51.0707                                                         0.022222
51.3801                                                         0.163793
52.0205                                                         0.108696

## SPECIAL POPULATIONS NOT MEETING TARGET WITHIN PROGRAMS

In [202]:
# Special Pops falling below 1P1 target, by CIP
unmet_spop_3p1 = spop_3p1.set_index('CTEA 1A / CIP Code / DYN||8774_DYN')

In [203]:
for items in rows_3p1:
    try:
        print(items.columns[1].split(' / ')[1])
        for v in items.values:
            cip = v[0]
            meas = v[1]
            print('{0:.4f}---{1:.2f}%'.format(cip,meas*100))

    except:
        print('NA')

Disabled
48.0508---10.00%
DISPLACED_HM
Economic Disadvantage
11.0201---14.29%
15.0201---4.00%
15.0303---12.50%
47.0201---3.12%
51.3801---15.91%
52.0205---15.00%
Homeless
Limited English
Migrant
Single Parent
51.3801---10.53%
52.0302---11.11%
Youth Aged Out
Youth Armed Forces

## RESULTS

In [50]:
# load measures into dataframe
df1a = pd.DataFrame(percents_1p1).reset_index()
df1a['Target 1'] = target_1
df1a.rename(columns={'CTEA 1A / Student ID / DYN||8761_DYN':'Measure 1P1'},inplace=True)
df1b = df1a.merge(p_unmet_1p1,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')
df1b.rename(columns={'CTEA 1A / Student ID / DYN||8761_DYN':'Unmet 1P1'},inplace=True)
df1c =spop_1p1
df1c.rename(columns={'CTEA 1A / Disabled / DYN||8766_DYN':'Unmet 1P1 Disabled',
                     'CTEA 1A / DISPLACED_HM / DYN||8776_DYN': 'Unmet 1P1 Displaced',
                     'CTEA 1A / Economic Disadvantage / DYN||8777_DYN': 'Unmet 1P1 Econ Dis',
                     'CTEA 1A / Homeless / DYN||8769_DYN': 'Unmet 1P1 Homeless',
                     'CTEA 1A / Limited English / DYN||8780_DYN': 'Unmet 1P1 Lim Eng',
                     'CTEA 1A / Migrant / DYN||8772_DYN': 'Unmet 1P1 Migrant',
                     'CTEA 1A / Single Parent / DYN||8775_DYN': 'Unmet 1P1 Sing Par',
                     'CTEA 1A / Youth Aged Out / DYN||8779_DYN': 'Unmet 1P1 Aged Out',
                     'CTEA 1A / Youth Armed Forces / DYN||8762_DYN': 'Unmet 1P1 Armed Forces'
                     
                    },inplace=True)
df1 = df1b.merge(df1c,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')



df2a = pd.DataFrame(percents_2p1).reset_index()
df2a['Target 2'] = target_2
df2a.rename(columns={'CTEA 1A / Student ID / DYN||8761_DYN':'Measure 2P1'},inplace=True)
df2b = df2a.merge(p_unmet_2p1,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')
df2b.rename(columns={'CTEA 1A / Student ID / DYN||8761_DYN':'Unmet 2P1'},inplace=True)
df2c =spop_2p1
df2c.rename(columns={'CTEA 1A / Disabled / DYN||8766_DYN':'Unmet 2P1 Disabled',
                     'CTEA 1A / DISPLACED_HM / DYN||8776_DYN': 'Unmet 2P1 Displaced',
                     'CTEA 1A / Economic Disadvantage / DYN||8777_DYN': 'Unmet 2P1 Econ Dis',
                     'CTEA 1A / Homeless / DYN||8769_DYN': 'Unmet 2P1 Homeless',
                     'CTEA 1A / Limited English / DYN||8780_DYN': 'Unmet 2P1 Lim Eng',
                     'CTEA 1A / Migrant / DYN||8772_DYN': 'Unmet 2P1 Migrant',
                     'CTEA 1A / Single Parent / DYN||8775_DYN': 'Unmet 2P1 Sing Par',
                     'CTEA 1A / Youth Aged Out / DYN||8779_DYN': 'Unmet 2P1 Aged Out',
                     'CTEA 1A / Youth Armed Forces / DYN||8762_DYN': 'Unmet 2P1 Armed Forces'
                     
                    },inplace=True)
df2 = df2b.merge(df2c,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')


df3a = pd.DataFrame(percents_3p1).reset_index()
df3a['Target 3'] = target_3
df3a.rename(columns={'CTEA 1A / Student ID / DYN||8761_DYN':'Measure 3P1'},inplace=True)
df3b = df3a.merge(p_unmet_3p1,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')
df3b.rename(columns={'CTEA 1A / Student ID / DYN||8761_DYN':'Unmet 3P1'},inplace=True)
df3c =spop_3p1
df3c.rename(columns={'CTEA 1A / Disabled / DYN||8766_DYN':'Unmet 3P1 Disabled',
                     'CTEA 1A / DISPLACED_HM / DYN||8776_DYN': 'Unmet 3P1 Displaced',
                     'CTEA 1A / Economic Disadvantage / DYN||8777_DYN': 'Unmet 3P1 Econ Dis',
                     'CTEA 1A / Homeless / DYN||8769_DYN': 'Unmet 3P1 Homeless',
                     'CTEA 1A / Limited English / DYN||8780_DYN': 'Unmet 3P1 Lim Eng',
                     'CTEA 1A / Migrant / DYN||8772_DYN': 'Unmet 3P1 Migrant',
                     'CTEA 1A / Single Parent / DYN||8775_DYN': 'Unmet 3P1 Sing Par',
                     'CTEA 1A / Youth Aged Out / DYN||8779_DYN': 'Unmet 3P1 Aged Out',
                     'CTEA 1A / Youth Armed Forces / DYN||8762_DYN': 'Unmet 3P1 Armed Forces'
                     
                    },inplace=True)
df3 = df3b.merge(df3c,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')

m1 = df1.merge(df2,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')
measures = m1.merge(df3,on='CTEA 1A / CIP Code / DYN||8774_DYN',how='left')
measures.rename(columns={'CTEA 1A / CIP Code / DYN||8774_DYN':'CIP Code'},inplace=True)
measures['CIP Code'] = measures['CIP Code'].map('{:.4f}'.format)

In [52]:
print('Overall Performance for 1P1 is {0:.2f}%'.format(len(num_1p1)/len(den_1p1)*100))
print('Overall Performance for 2P1 is {0:.2f}%'.format(len(num_2p1)/len(den_2p1)*100))
print('Overall Performance for for 3P1 is {0:.2f}%'.format(len(num_3p1)/len(den_3p1)*100))

Overall Performance for 1P1 is 52.44%
Overall Performance for 2P1 is 69.35%
Overall Performance for for 3P1 is 27.19%

In [54]:
    
print(measures)
choice = input('Export measures to Excel? Y/N:')
if ((choice =='Y') | (choice =='y')):
    measures.to_excel('measures.xlsx',index=None)
    print('Exported to measures.xlsx')
else:
    
    pass

   CIP Code  Measure 1P1  Target 1  Unmet 1P1  Unmet 1P1 Disabled  \
0   11.0201     0.333333    0.4975   0.333333                 NaN
1   11.0401     0.800000    0.4975        NaN                 NaN
2   11.0701     0.666667    0.4975        NaN                 NaN
3   11.1003     0.750000    0.4975        NaN                 NaN
4   15.0201     0.888889    0.4975        NaN                 NaN
5   15.0303     0.666667    0.4975        NaN                 NaN
6   15.0407     0.000000    0.4975   0.000000                 NaN
7   15.0801     1.000000    0.4975        NaN                 NaN
8   15.0805     0.333333    0.4975   0.333333                 NaN
9   15.1302     0.500000    0.4975        NaN                 NaN
10  31.0101     0.625000    0.4975        NaN                 NaN
11  43.0103     0.366667    0.4975   0.366667                 NaN
12  43.0107     0.312500    0.4975   0.312500                 NaN
13  43.0114     0.500000    0.4975        NaN                 NaN
14  43.0204     0.700000    0.4975        NaN                 NaN
15  44.0000     0.705882    0.4975        NaN                 NaN
16  45.0702     1.000000    0.4975        NaN                 NaN
17  47.0101     0.555556    0.4975        NaN                 NaN
18  47.0201     0.000000    0.4975   0.000000                 NaN
19  48.0508     0.369565    0.4975   0.369565                 NaN
20  48.0510     0.500000    0.4975        NaN                 NaN
21  50.0102     0.230769    0.4975   0.230769            0.400000
22  50.0406     0.500000    0.4975        NaN                 NaN
23  50.0409     0.600000    0.4975        NaN                 NaN
24  50.0410     0.210526    0.4975   0.210526            0.333333
25  51.0000     0.333333    0.4975   0.333333                 NaN
26  51.0707     0.555556    0.4975        NaN                 NaN
27  51.0907     0.625000    0.4975        NaN                 NaN
28  51.0908     0.166667    0.4975   0.166667                 NaN
29  51.1501     0.722222    0.4975        NaN                 NaN
30  51.3801     0.437500    0.4975   0.437500                 NaN
31  52.0201     0.605505    0.4975        NaN            0.333333
32  52.0205     0.692308    0.4975        NaN                 NaN
33  52.0302     0.454545    0.4975   0.454545                 NaN
34  52.0401     0.400000    0.4975   0.400000                 NaN
35  52.0801     0.800000    0.4975        NaN                 NaN

    Unmet 1P1 Displaced  Unmet 1P1 Econ Dis  Unmet 1P1 Lim Eng  \
0                   NaN                 NaN                NaN
1                   NaN                 NaN                NaN
2                   NaN                 NaN                NaN
3                   NaN                 NaN                NaN
4                   NaN                 NaN                NaN
5                   NaN                 NaN                NaN
6                   NaN                 NaN                NaN
7                   NaN                 NaN                NaN
8                   NaN            0.250000                NaN
9                   NaN                 NaN                NaN
10                  NaN                 NaN                NaN
11                  NaN            0.375000                NaN
12                  NaN            0.357143                NaN
13                  NaN                 NaN                NaN
14                  NaN                 NaN                NaN
15                  NaN                 NaN                NaN
16                  NaN                 NaN                NaN
17                  NaN                 NaN                NaN
18                  NaN                 NaN                NaN
19                  NaN            0.333333                NaN
20                  NaN                 NaN                NaN
21                  NaN            0.200000                NaN
22                  NaN                 NaN                NaN
23                  NaN                 NaN                NaN
24                  NaN            0.200000                NaN
25                  NaN                 NaN                NaN
26                  NaN                 NaN                NaN
27                  NaN                 NaN                NaN
28                  NaN                 NaN                NaN
29                  NaN                 NaN                NaN
30             0.333333            0.486486                NaN
31                  NaN                 NaN                NaN
32                  NaN                 NaN                NaN
33                  NaN                 NaN               0.25
34                  NaN            0.285714                NaN
35                  NaN                 NaN                NaN

    Unmet 1P1 Sing Par  Measure 2P1  ...  Unmet 2P1  Unmet 2P1 Disabled  \
0                  NaN     0.666667  ...        NaN                 NaN
1                  NaN     0.454545  ...        NaN                 NaN
2                  NaN     0.545455  ...        NaN                 NaN
3                  NaN     0.727273  ...        NaN                 NaN
4                  NaN     0.900000  ...        NaN                 NaN
5                  NaN     0.461538  ...        NaN                 NaN
6                  NaN     0.666667  ...        NaN                 NaN
7                  NaN     0.800000  ...        NaN                 NaN
8                  NaN     0.461538  ...        NaN                 NaN
9                  NaN     1.000000  ...        NaN                 NaN
10                 NaN     0.888889  ...        NaN                 NaN
11                 NaN     0.566038  ...        NaN                 NaN
12                 NaN     0.800000  ...        NaN                 NaN
13                 NaN     1.000000  ...        NaN                 NaN
14                 NaN     0.416667  ...        NaN                 NaN
15                 NaN     0.666667  ...        NaN                 NaN
16                 NaN     1.000000  ...        NaN                 NaN
17                 NaN     0.782609  ...        NaN                 NaN
18                 NaN     0.700000  ...        NaN                 NaN
19                 NaN     0.901961  ...        NaN                 NaN
20                 NaN     0.909091  ...        NaN                 NaN
21                 NaN     0.684211  ...        NaN                 NaN
22                 NaN     0.769231  ...        NaN                 NaN
23                 NaN     0.535714  ...        NaN                 NaN
24                 NaN     0.612903  ...        NaN                 NaN
25                 NaN     0.103448  ...   0.103448                 0.2
26                 NaN     0.500000  ...        NaN                 NaN
27                 NaN     1.000000  ...        NaN                 NaN
28                 NaN     0.800000  ...        NaN                 NaN
29                 NaN     0.750000  ...        NaN                 NaN
30            0.250000     0.872727  ...        NaN                 NaN
31            0.428571     0.731544  ...        NaN                 NaN
32                 NaN     0.866667  ...        NaN                 NaN
33                 NaN     0.628571  ...        NaN                 NaN
34                 NaN     0.769231  ...        NaN                 NaN
35                 NaN     0.909091  ...        NaN                 NaN

    Unmet 2P1 Econ Dis  Unmet 2P1 Sing Par  Measure 3P1  Target 3  Unmet 3P1  \
0                  NaN                 NaN     0.131579    0.1675   0.131579
1                  NaN                 NaN     0.285714    0.1675        NaN
2                  NaN                 NaN     0.434783    0.1675        NaN
3                  NaN                 NaN     0.226415    0.1675        NaN
4                  NaN                 NaN     0.033333    0.1675   0.033333
5                  NaN                 NaN     0.148148    0.1675   0.148148
6                  NaN                 NaN     0.000000    0.1675   0.000000
7                  NaN                 NaN     0.000000    0.1675   0.000000
8                  NaN                 NaN     0.057143    0.1675   0.057143
9                  NaN                 NaN     0.100000    0.1675   0.100000
10                 NaN                 NaN          NaN       NaN        NaN
11                 NaN                 0.2     0.429752    0.1675        NaN
12                 NaN                 NaN     0.285714    0.1675        NaN
13                 NaN                 NaN     0.500000    0.1675        NaN
14                 NaN                 NaN          NaN       NaN        NaN
15                 NaN                 NaN          NaN       NaN        NaN
16                 NaN                 NaN     0.000000    0.1675   0.000000
17                 NaN                 NaN     0.066667    0.1675   0.066667
18                 NaN                 NaN     0.023810    0.1675   0.023810
19                 NaN                 NaN     0.215909    0.1675        NaN
20                 NaN                 NaN     0.185185    0.1675        NaN
21                 NaN                 NaN          NaN       NaN        NaN
22                 NaN                 NaN          NaN       NaN        NaN
23                 NaN                 NaN          NaN       NaN        NaN
24                 NaN                 NaN          NaN       NaN        NaN
25                0.08                 NaN          NaN       NaN        NaN
26                 NaN                 NaN     0.022222    0.1675   0.022222
27                 NaN                 NaN          NaN       NaN        NaN
28                 NaN                 NaN          NaN       NaN        NaN
29                 NaN                 NaN     0.367347    0.1675        NaN
30                 NaN                 NaN     0.163793    0.1675   0.163793
31                 NaN                 NaN     0.493631    0.1675        NaN
32                 NaN                 NaN     0.108696    0.1675   0.108696
33                 NaN                 NaN     0.343750    0.1675        NaN
34                 NaN                 NaN          NaN       NaN        NaN
35                 NaN                 NaN          NaN       NaN        NaN

    Unmet 3P1 Disabled  Unmet 3P1 Econ Dis  Unmet 3P1 Sing Par
0                  NaN            0.142857                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN            0.040000                 NaN
5                  NaN            0.125000                 NaN
6                  NaN                 NaN                 NaN
7                  NaN                 NaN                 NaN
8                  NaN                 NaN                 NaN
9                  NaN                 NaN                 NaN
10                 NaN                 NaN                 NaN
11                 NaN                 NaN                 NaN
12                 NaN                 NaN                 NaN
13                 NaN                 NaN                 NaN
14                 NaN                 NaN                 NaN
15                 NaN                 NaN                 NaN
16                 NaN                 NaN                 NaN
17                 NaN                 NaN                 NaN
18                 NaN            0.031250                 NaN
19                 0.1                 NaN                 NaN
20                 NaN                 NaN                 NaN
21                 NaN                 NaN                 NaN
22                 NaN                 NaN                 NaN
23                 NaN                 NaN                 NaN
24                 NaN                 NaN                 NaN
25                 NaN                 NaN                 NaN
26                 NaN                 NaN                 NaN
27                 NaN                 NaN                 NaN
28                 NaN                 NaN                 NaN
29                 NaN                 NaN                 NaN
30                 NaN            0.159091            0.105263
31                 NaN                 NaN                 NaN
32                 NaN            0.150000                 NaN
33                 NaN                 NaN            0.111111
34                 NaN                 NaN                 NaN
35                 NaN                 NaN                 NaN

[36 rows x 21 columns]

Export measures to Excel? Y/N:y
Exported to measures.xlsx

In [ ]:
measures